@import url('pretendard/dist/web/variable/pretendardvariable.css');

* {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  white-space: pre-line;
}

a {
  color: inherit;
  text-decoration: none;
}
